[submodule "third_party/berkeley-softfloat-3"]
	path = third_party/berkeley-softfloat-3
	url = https://github.com/ucb-bar/berkeley-softfloat-3.git
[submodule "third_party/berkeley-testfloat-3"]
	path = third_party/berkeley-testfloat-3
	url = https://github.com/ucb-bar/berkeley-testfloat-3.git
[submodule "third_party/mpmath"]
	path = third_party/mpmath
	url = https://github.com/mpmath/mpmath.git
[submodule "Inputs/doc/MC68030_Doc_More_Readable"]
	path = Inputs/doc/MC68030_Doc_More_Readable
	url = https://github.com/MelkhiorVintageComputing/MC68030_Doc_More_Readable
[submodule "Inputs/ref/Run-Sun3-SunOS-4.1.1"]
	path = Inputs/ref/Run-Sun3-SunOS-4.1.1
	url = https://github.com/phabrics/Run-Sun3-SunOS-4.1.1
[submodule "Inputs/IIsiFPGA"]
	path = Inputs/IIsiFPGA
	url = https://github.com/MelkhiorVintageComputing/IIsiFPGA
